html, body {
  height: 100%;
  width: 100%;
}

.App {
  background-color: #ececec;
  width: 100%;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.container {
  font-size: large;
  margin: 1.5em;;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
